@{
    ViewBag.Title = "Giới thiệu";
}

<div class="columns-container">
    <div id="columns" class="container">

        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="Trở về Trang chủ">
                <i class="fa fa-home"></i>
            </a>
            <span class="navigation-pipe">&gt;</span>
            Giới thiệu
        </div>

        <div id="slider_row" class="row">
        </div>

        <div class="row">
            <div class="large-left col-sm-12">
                <div class="row">
                    <div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">
                        <div class="rte">
                            <h1 style="text-align:center;">About</h1>
                            <h3 style="text-align:center;">Catering to your requirements, handling your needs with care</h3>
                            <p style="text-align:center;">Our store is more than just another average online retailer. We sell not only top quality products, but give our customers a positive online shopping experience. Forget about struggling to do everything at once: taking care of the family, running your business, walking your dog, cleaning the house, doing the shopping, etc. Purchase the goods you need every day or just like in a few clicks or taps, depending on the device you use to access the Internet. We work to make your life more enjoyable.<br><br><br></p>
                            <!--<div class="border_bottom2">
                                <ul class="animateCount row">
                                    <li class="col-xs-4">
                                        <span class="count">14500</span>
                                        <h3>Products available</h3>
                                    </li>
                                    <li class="col-xs-4">
                                        <span class="count">81</span>%
                                        <h3>Clients come back</h3>
                                    </li>
                                    <li class="col-xs-4">
                                        <span class="count">10</span>mln
                                        <h3>Site members</h3>
                                    </li>
                                </ul>
                            </div>
                            <h1 style="text-align:center;">Store events</h1>
                            <div class="border_bottom2">
                                <ul class="row list-4">
                                    <li class="col-xs-4 fa fa-search">
                                        <h3>For convenience of choice</h3>
                                        <p>We think about the convenience of your choice. Our products are supplied with star rating that should help hesitant buyers to take a decision. What’s more, you can search our site if you know exactly what you are looking for or use a bunch of different filters that will considerably save your time and efforts.</p>
                                    </li>
                                    <li class="col-xs-4 fa fa-car">
                                        <h3>Delivery products to all regions</h3>
                                        <p>We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>
                                    </li>
                                    <li class="col-xs-4 fa fa-thumbs-up">
                                        <h3>The highest quality of products</h3>
                                        <p>We guarantee the highest quality of the products we sell. Several decades of successful operation and millions of happy customers let us feel certain about that. Besides, all items we sell pass thorough quality control, so no characteristics mismatch can escape the eye of our professionals.</p>
                                    </li>
                                </ul>
                            </div>
                            <h1 style="text-align:center;">Our team</h1>
                            <div class="border_bottom2">
                                <ul class="row list-4">
                                    <li class="col-xs-3">
                                        <img src="img/cms/our_team_1.jpg" alt="" height="269" width="270"><h3>ROBERT JOHNSON</h3>
                                        <p>Senior salesman with 15 years of experience. He knows everything about the products he offers.</p>
                                    </li>
                                    <li class="col-xs-3">
                                        <img src="img/cms/our_team_2.jpg" alt="" height="269" width="270"><h3>JESSICA PRISTON</h3>
                                        <p>Mega positive shop assistant always ready to help you make the right choice and charm you with a smile.</p>
                                    </li>
                                    <li class="col-xs-3">
                                        <img src="img/cms/our_team_3.jpg" alt="" height="269" width="270"><h3>SAM KROMSTAIN</h3>
                                        <p>Wholesale manager. Contact him if you want to buy a batch of the products offered at our store.</p>
                                    </li>
                                    <li class="col-xs-3">
                                        <img src="img/cms/our_team_4.jpg" alt="" height="269" width="270"><h3>EDNA BARTON</h3>
                                        <p>Quality control manager. Her mission is to check the products we ship and settle quality issues if any.</p>
                                    </li>
                                </ul>
                            </div>
                            <h1 style="text-align:center;">Testimonials</h1>
                            <div class="bx-wrapper" style="max-width: 1200px; margin: 0px auto;">
                                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 218px;">
                                    <ul id="testimonials" style="width: 615%; position: relative; left: -1200px;">
                                        <li class="material-design-ico icon material-design-google125 bx-clone" style="float: left; list-style: none; position: relative; width: 1200px;">
                                            <p>Having the distressing experience with some online shops before decided to say ‘’THANK YOU” to all personnel of this store. You are not only friendly, but deliver really good products in the shortest possible terms. In a word, I am absolutely happy with my purchase and the service. Everything was perfect!</p>
                                            <h3>EDNA BARTON</h3>
                                        </li>
                                        <li class="material-design-ico icon material-design-google125" style="float: left; list-style: none; position: relative; width: 1200px;">
                                            <p>Guys, you rock! Made a purchase at your store recently. The order has been shipped and delivered on time. The quality is superb! The price is quite reasonable. Told all my friends about your excellent service and the variety of choice. I think I’ll be your loyal customer in future as well. I wish your store many more years of prosperity.</p>
                                            <h3>Mary Taba</h3>
                                        </li>
                                        <li class="material-design-ico icon material-design-google125" style="float: left; list-style: none; position: relative; width: 1200px;">
                                            <p>Thank you again and again! I have experienced the fastest support ever. My order arrived on my door step the following day. Your team is always, friendly and very helpful. You managed to exceed my expectations!</p>
                                            <h3>Virginia Ubert</h3>
                                        </li>
                                        <li class="material-design-ico icon material-design-google125" style="float: left; list-style: none; position: relative; width: 1200px;">
                                            <p>Hi, guys! I want to thank you for my very very quick delivery and I just love my order… Your company efficient services and customer care are second to none! I am very happy! I will surely share my experience with my friends!</p>
                                            <h3>SAM KROMSTAIN</h3>
                                        </li>
                                        <li class="material-design-ico icon material-design-google125" style="float: left; list-style: none; position: relative; width: 1200px;">
                                            <p>Having the distressing experience with some online shops before decided to say ‘’THANK YOU” to all personnel of this store. You are not only friendly, but deliver really good products in the shortest possible terms. In a word, I am absolutely happy with my purchase and the service. Everything was perfect!</p>
                                            <h3>EDNA BARTON</h3>
                                        </li>
                                        <li class="material-design-ico icon material-design-google125 bx-clone" style="float: left; list-style: none; position: relative; width: 1200px;">
                                            <p>Guys, you rock! Made a purchase at your store recently. The order has been shipped and delivered on time. The quality is superb! The price is quite reasonable. Told all my friends about your excellent service and the variety of choice. I think I’ll be your loyal customer in future as well. I wish your store many more years of prosperity.</p>
                                            <h3>Mary Taba</h3>
                                        </li>
                                    </ul>
                                </div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href=""></a><a class="bx-next" href=""></a></div></div>
                            </div>-->
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>