@using Microsoft.AspNet.Identity

<header class="main-header">
    <a href="#" class="logo">
        <span class="logo-mini"><b>A</b>LT</span>
        <span class="logo-lg"><b>Admin</b> site</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/content/dist/img/avatar_160x160.png" class="user-image" alt="User Image" />
                        <span>@User.Identity.GetUserName()</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/content/dist/img/avatar_160x160.png" class="img-circle" alt="User Image" />
                            <p>
                                @User.Identity.GetUserName()
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                @*<a href="#" class="btn btn-default btn-flat">Profile</a>*@
                            </div>
                            <div class="pull-right">
                                @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat"><i class="glyphicon glyphicon-log-out"></i> Thoát</a>
                                }
                            </div>
                        </li>
                    </ul>
                </li>
                <li style="display: none">
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel" style="display: none;">
            <div class="pull-left image">
                <img src="~/content/dist/img/avatar_160x160.png" class="user-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>
                    @User.Identity.GetUserName()
                </p>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">Navigation</li>
            @{Html.RenderAction("Menu", "Home"); }
        </ul>
    </section>
</aside>
